function getSexValue(originUserInfoSex, editUserInfoSex) {
    if (editUserInfoSex === 0 || editUserInfoSex === 1) {
        return editUserInfoSex;
    } else if (originUserInfoSex === 0 || originUserInfoSex === 1) {
        return originUserInfoSex;
    }
    return -1;
}

function getSexStr(originUserInfoSex, editUserInfoSex) {
    var value = getSexValue(originUserInfoSex, editUserInfoSex);
    if (value === 0) {
        return '女';
    } else if (value === 1) {
        return '男'
    }
    return '请输入';
}


module.exports = {getSexStr: getSexStr, getSexValue: getSexValue};
